@charset "UTF-8";
/***********************共通設定************************/
.content {
  font-size: 14px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .content {
    font-size: 13px;
    letter-spacing: 1px;
  }
}

.contact_message {
  text-align: left;
  margin: 0 0 60px;
  font-size: 16px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .contact_message {
    margin: 0 0 30px;
    font-size: 14px;
  }
}
.contact_message span {
  display: block;
  color: #006564;
  font-size: 14px;
  margin: 5px 0 0;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .contact_message span {
    font-size: 13px;
  }
}

.form_item {
  margin: 0 0 30px;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.form_item.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_item.address_tit {
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}
.form_item.address_tit .form_tit {
  margin: 30px 0 0;
}

.form_tit {
  /* 751以上 */
  text-align: left;
  /* 750以下  */
}
@media all and (min-width: 751px) {
  .form_tit {
    width: 20%;
  }
}
@media all and (max-width: 750px) {
  .form_tit {
    margin: 0 0 15px;
  }
}

.form_a, .form_b, .form_d {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_a, .form_b, .form_d {
    width: 80%;
  }
}
.form_a input, .form_b input, .form_d input {
  border: none;
  background: none;
  width: -webkit-fill-available;
  padding: 30px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_a input, .form_b input, .form_d input {
    padding: 20px;
  }
}

.form_c {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_c {
    width: 60%;
  }
}
.form_c input {
  border: none;
  background: none;
  width: -webkit-fill-available;
  padding: 30px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_c input {
    padding: 20px;
  }
}

.form_e {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_e {
    width: 60%;
  }
}
.form_e input {
  border: none;
  background: none;
  width: -webkit-fill-available;
  padding: 30px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_e input {
    padding: 20px;
  }
}

.form_f {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_f {
    width: 70%;
  }
}
.form_f input {
  border: none;
  background: none;
  width: -webkit-fill-available;
  padding: 30px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_f input {
    padding: 20px;
  }
}

.form_g {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_g {
    width: 60%;
  }
}
.form_g input {
  border: none;
  background: none;
  width: -webkit-fill-available;
  padding: 30px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_g input {
    padding: 20px;
  }
}

.form_h {
  /* 751以上 */
}
@media all and (min-width: 751px) {
  .form_h {
    width: 80%;
  }
}
.form_h input {
  border: none;
  background: none;
  width: -webkit-fill-available;
  padding: 30px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_h input {
    padding: 20px;
  }
}

.form_a span, .form_b span {
  text-align: left;
  margin: 0 0 20px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_a span, .form_b span {
    margin: 0 0 10px;
  }
}

.form_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
.form_a .mwform-radio-field-text {
  width: 100%;
  margin: 0 60px 0 0px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_a .mwform-radio-field-text {
    margin: 0 10px 0 0px;
  }
}

.form_b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_b {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}
.form_b .mwform-radio-field-text {
  width: 100%;
  margin: 0 60px 0 0px;
}

.form_c input, .form_h input, .form_d_1l input, .form_d_1r input, .form_d_2 input, .form_e_l input, .form_e_r input, .form_f_1 input, .form_g input, .form_f_2 input, .form_f_3 input {
  background: #E8E7E1;
}

.form_d_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_d_1 {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.form_d_1l {
  width: 48%;
  margin: 0 auto 0 0;
}

.form_d_1r {
  width: 48%;
  position: relative;
}
.form_d_1r::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 1px;
  top: 50%;
  background: #000;
  left: -18px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_d_1r::before {
    left: -9px;
  }
}

.form_e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_e {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.form_e_l {
  width: 48%;
  margin: 0 auto 0 0;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_e_l {
    margin: 0 5px 0 0;
  }
}

.form_e_r {
  width: 48%;
}

.form_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_f {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.form_f_1 {
  width: 30%;
}

.form_f_2, .form_f_3 {
  width: 31%;
  margin: 0 0 0 auto;
  position: relative;
}
.form_f_2::before, .form_f_3::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 1px;
  top: 50%;
  background: #000;
  left: -18px;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .form_f_2::before, .form_f_3::before {
    left: -9px;
  }
}

.form_privacy {
  margin: 60px 0 20px;
}
.form_privacy a {
  color: #FFFFFF;
  background: #000000;
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  text-indent: 20px;
  margin-top: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /* 751以上 */
}
.form_privacy a::before {
  content: "";
  position: absolute;
  background-image: url(../images/contact/icon_privacy.png);
  width: 16px;
  height: 12px;
  background-size: contain;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
}
@media all and (min-width: 751px) {
  .form_privacy a:hover {
    background: #AAAAAA;
  }
}

.form_confirm {
  margin: 80px auto 0;
  /* 750以下  */
  position: relative;
  display: block;
  width: 264px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media all and (max-width: 750px) {
  .form_confirm {
    margin: 30px auto 0;
  }
}
.form_confirm input {
  border: none;
  background: #006564;
  color: #fff;
  height: 56px;
  width: 264px;
  cursor: pointer;
}
.form_confirm input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}
.form_confirm::after {
  content: "";
  border: 1px solid #006564;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 264px;
  height: 56px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form_confirm:hover {
  top: 3px;
  left: 3px;
}
.form_confirm:hover::after {
  top: 0px;
  left: 0px;
}

/*-------------------------------------------*/
/*         MwwpFORM の打ち消し                */
/*-------------------------------------------*/
.mw_wp_form .horizontal-item + .horizontal-item {
  margin-left: 0px;
}

.mw_wp_form .error {
  text-align: left;
}

.checkbox .error {
  text-align: center;
}

/*-------------------------------------------*/
/*         placeholder の色変更                */
/*-------------------------------------------*/
input::-webkit-input-placeholder {
  color: #766D60;
  font-size: 14px;
}
input::-moz-placeholder {
  color: #766D60;
  font-size: 14px;
}
input:-ms-input-placeholder {
  color: #766D60;
  font-size: 14px;
}
input::-ms-input-placeholder {
  color: #766D60;
  font-size: 14px;
}
input::placeholder {
  color: #766D60;
  font-size: 14px;
}
input:-ms-input-placeholder {
  /* IE用 */
  color: #766D60;
  font-size: 14px;
}

/*-------------------------------------------*/
/*         ラジオボタンのカスタム                */
/*-------------------------------------------*/
/* ラジオボタンを隠す */
.radio-btns input[type=radio].radio-btns__item {
  display: none;
}

.radio-btns label {
  display: inline-block;
  cursor: pointer;
}

/* spanの左側にボタンを配置するスペースを作る */
.radio-btns .radio-btns__item + span {
  padding-left: 40px;
  display: inline-block;
  position: relative;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .radio-btns .radio-btns__item + span {
    padding-left: 25px;
  }
}

/* 各パーツを作成 */
.radio-btns .radio-btns__item + span::after,
.radio-btns .radio-btns__item + span::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0px;
  background: #E8E7E1;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .radio-btns .radio-btns__item + span::after,
.radio-btns .radio-btns__item + span::before {
    width: 20px;
    height: 20px;
  }
}

/* after上書き */
.radio-btns .radio-btns__item + span::after {
  opacity: 0;
  width: 11px;
  height: 11px;
  top: 7px;
  left: 7px;
  border: none;
  background: #766D60;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  .radio-btns .radio-btns__item + span::after {
    width: 8px;
    height: 8px;
    top: 6px;
    left: 6px;
  }
}

/*
  checked状態
  文字のcolorとボタンのopacityを変更
*/
.radio-btns .radio-btns__item:checked + span {
  color: #766D60;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.radio-btns .radio-btns__item:checked + span::after {
  opacity: 1;
}

/*-------------------------------------------*/
/*         チェックボックスのカスタム            */
/*-------------------------------------------*/
.checkbox input[type=checkbox].checkbox__item {
  display: none;
}

.checkbox label {
  display: inline-block;
  cursor: pointer;
}

/* spanの左側にボタンを配置するスペースを作る */
.checkbox .checkbox__item + span {
  padding-left: 2em;
  display: inline-block;
  position: relative;
}

/* 各パーツを作成 */
.checkbox .checkbox__item + span::after,
.checkbox .checkbox__item + span::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #E8E7E1;
}

/* after上書き */
.checkbox .checkbox__item + span::after {
  opacity: 0;
  width: 6px;
  height: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 7px;
  border: none;
  border-right: 5px solid #766D60;
  border-bottom: 5px solid #766D60;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*
  checked状態
  文字のcolorとボタンのopacityを変更
*/
.checkbox .checkbox__item:checked + span {
  color: #766D60;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.checkbox .checkbox__item:checked + span::after {
  opacity: 1;
}

/*-------------------------------------------*/
/*         確認画面                           */
/*-------------------------------------------*/
#contact_check .contact_message {
  font-size: 16px;
  color: #006564;
}
#contact_check .form_item {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
#contact_check .form_item.address_tit .form_tit {
  margin: 0;
}
#contact_check .form_a,
#contact_check .form_b,
#contact_check .form_c,
#contact_check .form_d, #contact_check .form_d_1l, #contact_check .form_d_1r, #contact_check .form_d_2,
#contact_check .form_e, #contact_check .form_e_l, #contact_check .form_e_r,
#contact_check .form_f, #contact_check .form_f_1, #contact_check .form_f_2, #contact_check .form_f_3,
#contact_check .form_g {
  width: auto;
  background: none;
  text-align: left;
}
#contact_check .form_privacy, #contact_check .checkbox {
  display: none;
}
#contact_check .form_f_2, #contact_check .form_f_3 {
  margin: 0 0 0 20px;
}
#contact_check .form_f_2::before, #contact_check .form_f_3::before {
  top: 45%;
  left: -13px;
}
#contact_check .form_d_1l {
  margin: 0 -44px 0 0;
  /* 750以下  */
}
@media all and (max-width: 750px) {
  #contact_check .form_d_1l {
    margin: 0 10px 0 0;
  }
}
#contact_check .form_confirm_wrap {
  margin: 0 auto;
  /* 751以上 */
}
@media all and (min-width: 751px) {
  #contact_check .form_confirm_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 640px;
  }
}
#contact_check .form_confirm_back {
  margin: 80px auto 0;
  position: relative;
  display: block;
  width: 264px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#contact_check .form_confirm_back button {
  border: none;
  background: #7E7E7E;
  color: #fff;
  height: 56px;
  width: 264px;
  cursor: pointer;
}
#contact_check .form_confirm_back::after {
  content: "";
  border: 1px solid #7E7E7E;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 264px;
  height: 56px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#contact_check .form_confirm_back:hover {
  top: 3px;
  left: 3px;
}
#contact_check .form_confirm_back:hover::after {
  top: 0px;
  left: 0px;
}

#contact_thanks .content {
  font-size: 16px;
  height: 300px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}